{% extends "cpm_viewer/base.html" %}

{% block app_content %}
    {% csrf_token %}
    <!--Create empty divs to attach the map and popup-->

    <div id="loading">
        <img id="load_fig"
        src="/static/tethys_gizmos/images/ajax-loader-transparent.gif"
        alt="Loading..."/>
    </div>

    <div id="chartjs-tooltip"></div>

    <div id="map" class="map">
        <div id="tooltip" class="tooltip"></div>
        <div id="legend"><center>Average Error, m</center>
            <table>
                <tr>
                    <td><div class="foo red"></div> </td>
                    <td>< -2</td>
                </tr>
                <tr>
                    <td><div class="foo orange"></div> </td>
                    <td>-1.9 to -1.0</td>
                </tr>
                <tr>
                    <td><div class="foo lorange"></div> </td>
                    <td>-0.9 to -0.5</td>
                </tr>
                <tr>
                    <td><div class="foo yellow"></div> </td>
                    <td>-0.9 to -0.5</td>
                </tr>
                <tr>
                    <td><div class="foo green"></div> </td>
                    <td>-0.4 to -0.0</td>
                </tr>
                <tr>
                    <td><div class="foo turqoise"></div> </td>
                    <td>0.1 to 0.5</td>
                </tr>
                <tr>
                    <td><div class="foo llblue"></div> </td>
                    <td>0.6 to 1.0</td>
                </tr>
                <tr>
                    <td><div class="foo lblue"></div> </td>
                    <td>1.1 to 2.0</td>
                </tr>
                <tr>
                    <td><div class="foo blue"></div> </td>
                    <td>> 2.0</td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}

{% block app-navigation-toggle-override %}
{% endblock %}
